{% extends 'projetofinal/base.html' %}
{% load widget_tweaks %}  <!-- pode ser colocado na pagina template base -->
{% block title %}Login{% endblock %}


{% block content %}

<div class="container mt-5">
  <h2>Login</h2>

  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-danger">Erro: Verifique seu nome de usuário e senha.</div>
    {% endif %}

    <div class ="mb-3">
      <label for="id_login">E-mail</label>
    {{ form.username.label_tag }}
    {{ form.username }}
    </div>
    <div class="mb-3">
    {{ form.password.label_tag }}
    {{ form.password }}
    </div>

    <button type="submit">Login</button>
      <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>

    <!-- Security links -->
    <div class="mt-3">
      <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
      {% if ALLOW_REGISTRATION %}
        | <a href="{% url 'signup' %}">Register</a>
      {% endif %}

    </div>
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="my-3 alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
  </form>
</div>
{% endblock %}